# Firebase Configuration
# Você vai preencher isso depois de gerar a chave no Firebase Console

FIREBASE_PROJECT_ID=agenda-pratica2
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-...@agenda-pratica2.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n

# Porta
PORT=3000
